<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>新規作成</title>

    <script src="/assets/js/metrixir.client.js"></script>
    <script src="/assets/js/ajaxzip3.js"></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/jquery.autoKana.js"></script>
    <script src="/assets/js/autoKana.js"></script>
    <script src="/assets/js/connectForm.js"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/user">

                            <!-- /*エラーがあれば表示する*/ -->
                            <ul class="ui red basic label" th:if="${form.hasErrors()}">
                                <li th:each="error : ${form.getErrors().entrySet()}" th:text="${error.value}"></li>
                            </ul>

                            <div class="ui horizontal divider">ご本人について</div>

                            <div class="field" th:classappend="${form.hasErrors('kanjiName')} ? 'error'">
                                <label>お名前（漢字）</label>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="kanjiLastName" id="kanjiLastName" th:value="${form.kanjiLastName}" placeholder="例）太田"/>
                                    </div>
                                    <div class="field">
                                        <input type="text" name="kanjiFirstName" id="kanjiFirstName" th:value="${form.kanjiFirstName}" placeholder="例）太朗"/>
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('kanaName')} ? 'error'">
                                <label>お名前（カナ）</label>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="kanaLastName" id="kanaLastName" th:value="${form.kanaLastName}" placeholder="例）オオダ"/>
                                    </div>
                                    <div class="field">
                                        <input type="text" name="kanaFirstName" id="kanaFirstName" th:value="${form.kanaFirstName}" placeholder="例）タロウ"/>
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('alphabetName')} ? 'error'">
                                <label>お名前（ローマ字）</label>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="alphabetLastName" id="alphabetLastName" th:value="${form.alphabetLastName}" placeholder="例）OODA"/>
                                    </div>
                                    <div class="field">
                                        <input type="text" name="alphabetFirstName" id="alphabetFirstName" th:value="${form.alphabetFirstName}" placeholder="例）TAROU"/>
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('gender')} ? 'error'">
                                <label>性別</label>

                                <input type="radio" name="gender" value="male" th:checked="${form.gender}=='male'"/>男性
                                <input type="radio" name="gender" value="female" th:checked="${form.gender}=='female'"/>女性
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('dateOfBirth')} ? 'error'">
                                <label>生年月日</label>
                                <select name="year" id="year">
                                    <option value="">-</option>
                                    <option value="1921" th:selected="${form.year}=='1921'">1921</option>
                                    <option value="1922" th:selected="${form.year}=='1922'">1922</option>
                                    <option value="1923" th:selected="${form.year}=='1923'">1923</option>
                                    <option value="1924" th:selected="${form.year}=='1924'">1924</option>
                                    <option value="1925" th:selected="${form.year}=='1925'">1925</option>
                                    <option value="1926" th:selected="${form.year}=='1926'">1926</option>
                                    <option value="1927" th:selected="${form.year}=='1927'">1927</option>
                                    <option value="1928" th:selected="${form.year}=='1928'">1928</option>
                                    <option value="1929" th:selected="${form.year}=='1929'">1929</option>
                                    <option value="1930" th:selected="${form.year}=='1930'">1930</option>
                                    <option value="1931" th:selected="${form.year}=='1931'">1931</option>
                                    <option value="1932" th:selected="${form.year}=='1932'">1932</option>
                                    <option value="1933" th:selected="${form.year}=='1933'">1933</option>
                                    <option value="1934" th:selected="${form.year}=='1934'">1934</option>
                                    <option value="1935" th:selected="${form.year}=='1935'">1935</option>
                                    <option value="1936" th:selected="${form.year}=='1936'">1936</option>
                                    <option value="1937" th:selected="${form.year}=='1937'">1937</option>
                                    <option value="1938" th:selected="${form.year}=='1938'">1938</option>
                                    <option value="1939" th:selected="${form.year}=='1939'">1939</option>
                                    <option value="1940" th:selected="${form.year}=='1940'">1940</option>
                                    <option value="1941" th:selected="${form.year}=='1941'">1941</option>
                                    <option value="1942" th:selected="${form.year}=='1942'">1942</option>
                                    <option value="1943" th:selected="${form.year}=='1943'">1943</option>
                                    <option value="1944" th:selected="${form.year}=='1944'">1944</option>
                                    <option value="1945" th:selected="${form.year}=='1945'">1945</option>
                                    <option value="1946" th:selected="${form.year}=='1946'">1946</option>
                                    <option value="1947" th:selected="${form.year}=='1947'">1947</option>
                                    <option value="1948" th:selected="${form.year}=='1948'">1948</option>
                                    <option value="1949" th:selected="${form.year}=='1949'">1949</option>
                                    <option value="1950" th:selected="${form.year}=='1950'">1950</option>
                                    <option value="1951" th:selected="${form.year}=='1951'">1951</option>
                                    <option value="1952" th:selected="${form.year}=='1952'">1952</option>
                                    <option value="1953" th:selected="${form.year}=='1953'">1953</option>
                                    <option value="1954" th:selected="${form.year}=='1954'">1954</option>
                                    <option value="1955" th:selected="${form.year}=='1955'">1955</option>
                                    <option value="1956" th:selected="${form.year}=='1956'">1956</option>
                                    <option value="1957" th:selected="${form.year}=='1957'">1957</option>
                                    <option value="1958" th:selected="${form.year}=='1958'">1958</option>
                                    <option value="1959" th:selected="${form.year}=='1959'">1959</option>
                                    <option value="1960" th:selected="${form.year}=='1960'">1960</option>
                                    <option value="1961" th:selected="${form.year}=='1961'">1961</option>
                                    <option value="1962" th:selected="${form.year}=='1962'">1962</option>
                                    <option value="1963" th:selected="${form.year}=='1963'">1963</option>
                                    <option value="1964" th:selected="${form.year}=='1964'">1964</option>
                                    <option value="1965" th:selected="${form.year}=='1965'">1965</option>
                                    <option value="1966" th:selected="${form.year}=='1966'">1966</option>
                                    <option value="1967" th:selected="${form.year}=='1967'">1967</option>
                                    <option value="1968" th:selected="${form.year}=='1968'">1968</option>
                                    <option value="1969" th:selected="${form.year}=='1969'">1969</option>
                                    <option value="1970" th:selected="${form.year}=='1970'">1970</option>
                                    <option value="1971" th:selected="${form.year}=='1971'">1971</option>
                                    <option value="1972" th:selected="${form.year}=='1972'">1972</option>
                                    <option value="1973" th:selected="${form.year}=='1973'">1973</option>
                                    <option value="1974" th:selected="${form.year}=='1974'">1974</option>
                                    <option value="1975" th:selected="${form.year}=='1975'">1975</option>
                                    <option value="1976" th:selected="${form.year}=='1976'">1976</option>
                                    <option value="1977" th:selected="${form.year}=='1977'">1977</option>
                                    <option value="1978" th:selected="${form.year}=='1978'">1978</option>
                                    <option value="1979" th:selected="${form.year}=='1979'">1979</option>
                                    <option value="1980" th:selected="${form.year}=='1980'">1980</option>
                                    <option value="1981" th:selected="${form.year}=='1981'">1981</option>
                                    <option value="1982" th:selected="${form.year}=='1982'">1982</option>
                                    <option value="1983" th:selected="${form.year}=='1983'">1983</option>
                                    <option value="1984" th:selected="${form.year}=='1984'">1984</option>
                                    <option value="1985" th:selected="${form.year}=='1985'">1985</option>
                                    <option value="1986" th:selected="${form.year}=='1986'">1986</option>
                                    <option value="1987" th:selected="${form.year}=='1987'">1987</option>
                                    <option value="1988" th:selected="${form.year}=='1988'">1988</option>
                                    <option value="1989" th:selected="${form.year}=='1989'">1989</option>
                                    <option value="1990" th:selected="${form.year}=='1990'">1990</option>
                                    <option value="1991" th:selected="${form.year}=='1991'">1991</option>
                                    <option value="1992" th:selected="${form.year}=='1992'">1992</option>
                                    <option value="1993" th:selected="${form.year}=='1993'">1993</option>
                                    <option value="1994" th:selected="${form.year}=='1994'">1994</option>
                                    <option value="1995" th:selected="${form.year}=='1995'">1995</option>
                                    <option value="1996" th:selected="${form.year}=='1996'">1996</option>
                                    <option value="1997" th:selected="${form.year}=='1997'">1997</option>
                                    <option value="1998" th:selected="${form.year}=='1998'">1998</option>
                                    <option value="1999" th:selected="${form.year}=='1999'">1999</option>
                                    <option value="2000" th:selected="${form.year}=='2000'">2000</option>
                                </select>　年
                                <select name="month" id="month">
                                    <option value="">-</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>　月
                                <select name="day" id="day">
                                    <option value="">-</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>　日
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('zipCode')} ? 'error'">
                                <label>郵便番号</label>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" class="zipcode" id="zipCode1st" name="zipCode1st" th:value="${form.zipCode1st}" placeholder="400"/>
                                    </div>-
                                    <div class="field">
                                        <input type="text" class="zipcode" id="zipCode2nd" name="zipCode2nd" th:value="${form.zipCode2nd}" onkeyup="AjaxZip3.zip2addr(zipCode1st, zipCode2nd, 'address', 'address')" placeholder="0000"/>
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('address')} ? 'error'">
                                <label>ご住所</label>
                                <input type="text" name="address" th:value="${form.address}" placeholder="住所検査結果を表示"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('homePhoneNumber')} ? 'error'">
                                <label>自宅電話番号</label>
                                <div class="three fields">
                                    <div class="field">
                                        <input type="text" id="homePhoneNumber1st" name="homePhoneNumber1st" th:value="${form.homePhoneNumber1st}" placeholder="010"/>
                                    </div>
                                    <span class="unit">-</span>
                                    <div class="field">
                                        <input type="text" id="homePhoneNumber2nd" name="homePhoneNumber2nd" th:value="${form.homePhoneNumber2nd}" placeholder="0000"/>
                                    </div>
                                    <span class="unit">-</span>
                                    <div class="field">
                                        <input type="text" id="homePhoneNumber3rd" name="homePhoneNumber3rd" th:value="${form.homePhoneNumber3rd}" placeholder="0000"/>
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('mobilePhoneNumber')} ? 'error'">
                                <label>携帯電話番号</label>
                                <div class="three fields">
                                    <div class="field">
                                        <input type="text" id="mobilePhoneNumber1st" name="mobilePhoneNumber1st" th:value="${form.mobilePhoneNumber1st}" placeholder="080"/>
                                    </div>
                                    <span class="unit">-</span>
                                    <div class="field">
                                        <input type="text" id="mobilePhoneNumber2nd" name="mobilePhoneNumber2nd" th:value="${form.mobilePhoneNumber2nd}" placeholder="1111"/>
                                    </div>
                                    <span class="unit">-</span>
                                    <div class="field">
                                        <input type="text" id="mobilePhoneNumber3rd" name="mobilePhoneNumber3rd" th:value="${form.mobilePhoneNumber3rd}" placeholder="1111"/>
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('emailAddress')} ? 'error'">
                                <label>メールアドレス</label>
                                <input type="text" name="emailAddress" th:value="${form.emailAddress}" placeholder="tarou@gmail.com"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('spouse')} ? 'error'">
                                <label>配偶者有無</label>
                                <select id="spouse" name="spouse" >
                                    <option value="" th:checked="${form.spouse}==''">選択してください</option>
                                    <option th:value="1" th:selected="${form.spouse}=='1'" th:checked="${form.spouse}=='1'">配偶者あり</option>
                                    <option th:value="0" th:selected="${form.spouse}=='0'" th:checked="${form.spouse}=='0'">配偶者なし</option>
                                </select>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('houseClassification')} ? 'error'">
                                <label>お住まい</label>
                                <select id="houseClassification" name="houseClassification" th:value="${form.houseClassification}">
                                    <option value="" th:checked="${form.houseClassification}==''">選択してください</option>
                                    <option value="自己所有" th:selected="${form.houseClassification}=='自己所有'" th:checked="${form.houseClassification}=='自己所有'">本人名義の一戸建・マンション</option>
                                    <option value="自己所有" th:selected="${form.houseClassification}=='自己所有'" th:checked="${form.houseClassification}=='自己所有'">本人名義の一戸建・マンション</option>
                                    <option value="家族所有" th:selected="${form.houseClassification}=='家族所有'" th:checked="${form.houseClassification}=='家族所有'">家族名義の一戸建・マンション</option>
                                    <option value="社宅" th:selected="${form.houseClassification}=='社宅'" th:checked="${form.houseClassification}=='社宅'">社宅</option>
                                    <option value="公営" th:selected="${form.houseClassification}=='公営'" th:checked="${form.houseClassification}=='公営'">公営住宅</option>
                                    <option value="賃貸" th:selected="${form.houseClassification}=='賃貸'" th:checked="${form.houseClassification}=='賃貸'">賃貸マンション</option>
                                    <option value="借家" th:selected="${form.houseClassification}=='借家'" th:checked="${form.houseClassification}=='借家'">借家</option>
                                    <option value="アパート" th:selected="${form.houseClassification}=='アパート'" th:checked="${form.houseClassification}=='アパート'">アパート</option>
                                    <option value="寮下宿" th:selected="${form.houseClassification}=='寮下宿'" th:checked="${form.houseClassification}=='寮下宿'">寮・下宿</option>
                                    <option value="その他" th:selected="${form.houseClassification}=='その他'" th:checked="${form.houseClassification}=='その他'">その他</option>
                                </select>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('debt')} ? 'error'">
                                <label>ローン等のお借り入れ金額</label>
                                <input type="text" class="number" name="debt" th:value="${form.debt}" placeholder="10"/><span class="unit">万円</span>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('income')} ? 'error'">
                                <label>昨年の所得</label>
                                <input type="text" class="number" name="income" th:value="${form.income}" placeholder="500"/><span class="unit">万円</span>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('job')} ? 'error'">
                                <label>ご職業</label>
                                <select id="job" name="job">
                                    <option value="" th:checked="${form.job}==''">選択してください</option>
                                    <option value="経営自営" th:selected="${form.job}=='経営自営'" th:checked="${form.job}=='経営自営'">経営・自営業</option>
                                    <option value="会社員" th:selected="${form.job}=='会社員'" th:checked="${form.job}=='会社員'">会社員</option>
                                    <option value="契約派遣" th:selected="${form.job}=='契約派遣'" th:checked="${form.job}=='契約派遣'">契約・派遣社員</option>
                                    <option value="公務員" th:selected="${form.job}=='公務員'" th:checked="${form.job}=='公務員'">公務員</option>
                                    <option value="民間団体" th:selected="${form.job}=='民間団体'" th:checked="${form.job}=='民間団体'">民間団体</option>
                                    <option value="主婦" th:selected="${form.job}=='主婦'" th:checked="${form.job}=='主婦'">主婦</optioin>
                                    <option value="学生" th:selected="${form.job}=='学生'" th:checked="${form.job}=='学生'">学生</option>
                                    <option value="年金受給" th:selected="${form.job}=='年金受給'" th:checked="${form.job}=='年金受給'">年金受給者の方</option>
                                    <option value="パートアルバイト" th:selected="${form.job}=='パートアルバイト'" th:checked="${form.job}=='パートアルバイト'">パート・アルバイト</option>
                                    <option value="他有職" th:selected="${form.job}=='他有職'" th:checked="${form.job}=='他有職'">その他 (有職）</option>
                                    <option value="他無職" th:selected="${form.job}=='他無職'" th:checked="${form.job}=='他無職'">その他（無職）</option>
                                </select>
                            </div>

                            <!--/*"お勤め先"の入力値を引き回すための隠し項目*/-->
                            <input type="hidden" name="employerName" th:value="${form.employerName}"/>
                            <input type="hidden" name="employerZipCode" th:value="${form.employerZipCode}"/>
                            <input type="hidden" name="employerAddress" th:value="${form.employerAddress}"/>
                            <input type="hidden" name="employerPhoneNumber" th:value="${form.employerPhoneNumber}"/>
                            <input type="hidden" name="industryType" th:value="${form.industryType}"/>
                            <input type="hidden" name="capital" th:value="${form.capital}"/>
                            <input type="hidden" name="companySize" th:value="${form.companySize}"/>
                            <input type="hidden" name="department" th:value="${form.department}"/>
                            <input type="hidden" name="position" th:value="${form.position}"/>
                            <input type="hidden" name="employeeLength" th:value="${form.employeeLength}"/>

                            <button class="ui fluid teal button" onClick="connect()">次へ（お勤め先情報の入力）</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
